/*@color-black: #2d2d2d;  почти черный текст, фон footer */
/* жирный текст */
/* текст */
/* винный */
/* темно-винный */
/* */
/* на главной текст на 1 экране */
/*780*/
/*960*/
/*1200*/
/*1170*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
body,
html {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}
body {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  color: #6a6a6a;
  font-style: normal;
  font-weight: normal;
  background: url("../img/bg-main.png") 50% 0 no-repeat, url("../img/ricepaper.jpg") repeat;
}
h1,
h2,
h3,
h5 {
  color: #582c23;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Linux", serif;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
h2 {
  font-family: "Linux", serif;
  font-size: 2rem;
  color: #582c23;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3;
  padding: 0;
  margin: 0;
  text-align: left;
}
.caps {
  text-transform: uppercase;
}
h3 {
  font-family: "Linux", serif;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
h4,
h5 {
  font-family: "Agora", serif;
  font-size: 1.2rem;
  color: #582c23;
  font-weight: bold;
  text-transform: none;
}
hr {
  margin: 0;
  margin-top: -2px;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: bottom;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
}
tbody {
  width: 100%;
}
a {
  text-decoration: none;
}
.hit {
  background: url("../img/star.png") 0 0 no-repeat;
  padding-left: 3rem;
}
.new {
  background: url("../img/new.png") 0 0 no-repeat;
  padding-left: 3rem;
}
.event {
  background: url("../img/event.png") 0 0 no-repeat;
  padding-left: 3rem;
}
.serv {
  background: url("../img/serv.png") 0 0 no-repeat;
  padding-left: 3rem;
}
.wine {
  background: url("../img/wine.png") 0 0 no-repeat;
  padding-left: 2rem;
}
.sparkling-wine {
  background: url("../img/wine.png") 0 0 no-repeat;
  padding-left: 2rem;
}
.main-block-btn {
  display: block;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}
.bg-frame-beige {
  background: url("../img/frame-beige.svg") 0 0 no-repeat;
  background-size: 100%;
  width: 20rem;
  height: 20rem;
}
.link {
  display: inline-block;
  margin: 0.8rem;
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  color: #6a6a6a;
  text-decoration: underline;
  font-weight: bold;
}
.link:hover,
.link:active,
.link.active {
  color: #353535;
}
.to_top {
  position: fixed;
  top: 0px;
  margin-top: 0;
  z-index: 5000;
  width: 100%;
  display: block;
}
.separator {
  display: block;
  height: 70px;
}
.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  z-index: 210;
  top: 45%;
  background: url("../img/arr.svg") 0 0 no-repeat;
  background-size: contain;
  cursor: pointer;
}
.arrow:hover {
  background-image: url("../img/arr-hover.svg");
}
.arrow.prev {
  left: 1rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.arrow.next {
  right: 1rem;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
@media (max-width: 780px) {
  .separator {
    height: 30px;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}
.corner {
  position: relative;
  z-index: 9;
  overflow: hidden;
  width: 20rem;
  height: auto;
}
.corner .wrapper-border {
  width: 100%;
  height: 100%;
  border: 5px solid #85254c;
  overflow: hidden;
}
.corner a {
  border: 5px solid #85254c;
}
.top-right,
.top-left,
.bottom-right,
.bottom-left {
  content: "";
  position: absolute;
  z-index: 10;
  background: url("../img/corner1.png") 0 0 no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
}
.top-right {
  top: 0;
  right: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.top-left {
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.bottom-right {
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.bottom-left {
  bottom: 0;
  left: 0;
}
.qq {
  display: block;
  width: 20rem;
  height: auto;
  margin: 0 auto;
}
.frame.frame--beige {
  display: block;
  position: relative;
  z-index: 9;
}
.frame.frame--beige .frame__top,
.frame.frame--beige .frame__bottom {
  display: block;
  font-size: 0;
  width: auto;
  margin: 0 11px;
  height: 11px;
  background-color: #ffffff;
}
.frame.frame--beige .frame__top:after,
.frame.frame--beige .frame__bottom:after,
.frame.frame--beige .frame__top:before,
.frame.frame--beige .frame__bottom:before {
  content: "";
  position: absolute;
  z-index: 10;
  background: url("../img/corner-beige.svg") 0 0 no-repeat;
  background-size: contain;
  height: 11px;
  width: 11px;
}
.frame.frame--beige .frame__top {
  border-top: 2px solid #f7e5d6;
}
.frame.frame--beige .frame__top:after {
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.frame.frame--beige .frame__top:before {
  top: 0;
  right: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.frame.frame--beige .frame__bottom {
  border-bottom: 2px solid #f7e5d6;
}
.frame.frame--beige .frame__bottom:after {
  bottom: 0;
  left: 0;
}
.frame.frame--beige .frame__bottom:before {
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.frame.frame--beige .frame__content {
  border-left: 2px solid #f7e5d6;
  border-right: 2px solid #f7e5d6;
  background-color: #ffffff;
  min-height: 3.5rem;
  width: 100%;
  padding: 0 1rem;
}
.block-tovar-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 17rem;
  height: 37rem;
  padding: 1.5rem;
  background: url("../img/frame-beige-tovar.svg") 0 0 no-repeat;
  background-size: auto;
}
.block-tovar-prev h4 span {
  display: block;
}
.block-tovar-prev__code {
  display: block;
  padding-top: 0.5rem;
  color: #6a6a6a;
}
.block-tovar-prev__img {
  display: block;
  height: auto;
  max-height: 19.5rem;
  text-align: center;
  margin: 1.3rem auto;
}
.block-tovar-prev__img img {
  height: 100%;
  width: auto;
}
.block-tovar-prev__description {
  display: block;
  height: auto;
}
.block-tovar-prev__description span {
  color: #6a6a6a;
}
.description-wine {
  display: inline-block;
  vertical-align: top;
  width: 6.6rem;
  font-family: "OpenSans", sans-serif;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.wine-color:before,
.wine-sugar:before,
.wine-land:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.wine-color.red:before {
  background-color: #671738;
}
.white {
  background-color: #f3e9da;
}
.rose {
  background-color: #b8608b;
}
.wine-price {
  font-family: "Agora", serif;
  font-size: 1rem;
  color: #d46000;
  font-weight: bold;
  padding-left: 0;
}
.wine-sugar:before {
  background: url("../img/sugar.png") 0 0 no-repeat;
  background-size: cover;
}
.wine-land.italy:before {
  background: url("../img/f-italia.png") 0 0 no-repeat;
  background-size: cover;
}
.block-tovar-prev:hover {
  background-image: url("../img/frame-beige-tovar-hover.svg");
  cursor: pointer;
}
.ch_wrapper {
  display: inline-block;
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  color: #6a6a6a;
  font-weight: normal;
}
.checkbox {
  display: inline-block;
  height: auto;
}
.checkbox .ch_wrapper input[type=checkbox] {
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.checkbox .ch_wrapper label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 1.3rem;
}
.checkbox .ch_wrapper label:after {
  content: "";
  border: 2px solid #f3e9da;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 0.7rem;
  line-height: 1.3rem;
  outline: none;
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 4px;
  background-color: #ffffff;
}
.checkbox .ch_wrapper input[type=checkbox]:checked + label:after {
  content: "\2713";
  border: 2px solid #d46000;
  font-size: 1.1rem;
  color: #d46000;
  text-align: center;
  line-height: 0.2rem;
  font-weight: bold;
}
.checkbox--filter {
  display: block;
  padding: 0.25rem;
}
.btn {
  display: inline-block;
  height: 2.5rem;
  line-height: 2.5rem;
  color: #ffffff;
  font-family: "Agora", serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  border: 2px solid #eddde3;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #85254c), color-stop(60%, #b8608b));
  background-image: -webkit-linear-gradient(bottom, #85254c 20%, #b8608b 60%);
  background-image: linear-gradient(to top, #85254c 20%, #b8608b 60%);
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0px 2px 1px 0px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.btn--brown {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #532921), color-stop(60%, #966a5d));
  background-image: -webkit-linear-gradient(bottom, #532921 20%, #966a5d 60%);
  background-image: linear-gradient(to top, #532921 20%, #966a5d 60%);
}
.btn:hover,
.btn:active {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #3b071a), color-stop(60%, #912a64));
  background-image: -webkit-linear-gradient(bottom, #3b071a 20%, #912a64 60%);
  background-image: linear-gradient(to top, #3b071a 20%, #912a64 60%);
}
.btn.btn--brown:hover,
.btn.btn--brown:active {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #3a1913), color-stop(60%, #8f6356));
  background-image: -webkit-linear-gradient(bottom, #3a1913 20%, #8f6356 60%);
  background-image: linear-gradient(to top, #3a1913 20%, #8f6356 60%);
}
.btn--footer-form,
.btn--mainform,
.btn--main-event,
.btn--main-service {
  padding: 0 2rem;
  font-family: "Agora", serif;
  font-size: 0.875rem;
  line-height: 2.8rem;
  height: 2.8rem;
}
.btn--footer-form {
  display: inline-block;
  vertical-align: middle;
  padding: 0 1rem;
  line-height: 3.1rem;
  height: 3.1rem;
  margin-bottom: 1rem;
}
.btn--mainform {
  margin-top: 3rem;
  margin-right: 1rem;
}
.btn--in-basket {
  width: 6.6rem;
  margin-left: 0.5rem;
  padding-left: 1.7rem;
  background: url("../img/ico-sprite.png") -5px -205px no-repeat, -webkit-gradient(linear, left bottom, left top, color-stop(20%, #85254c), color-stop(60%, #b8608b));
  background: url("../img/ico-sprite.png") -5px -205px no-repeat, -webkit-linear-gradient(bottom, #85254c 20%, #b8608b 60%);
  background: url("../img/ico-sprite.png") -5px -205px no-repeat, linear-gradient(to top, #85254c 20%, #b8608b 60%);
}
.btn--in-basket:hover,
.btn--in-basket:active {
  background-image: url("../img/ico-sprite.png"), -webkit-gradient(linear, left bottom, left top, color-stop(20%, #3b071a), color-stop(60%, #912a64));
  background-image: url("../img/ico-sprite.png"), -webkit-linear-gradient(bottom, #3b071a 20%, #912a64 60%);
  background-image: url("../img/ico-sprite.png"), linear-gradient(to top, #3b071a 20%, #912a64 60%);
}
@media (max-width: 780px) {
  .btn--mainform {
    margin-top: 1rem;
    margin-right: 0;
  }
}
.user-input {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #cdcdcd;
  color: #9a9a9a;
  font-family: "OpenSans", sans-serif;
  font-size: 0.875rem;
  line-height: 2.8rem;
  height: 2.8rem;
  outline: none;
  padding: 0 1rem;
}
.user-input--footer-form {
  width: 45%;
  margin: 0 0.5rem 1rem;
}
.breadcramps {
  margin: 1rem 0;
}
.breadcramps ul {
  list-style: none;
}
.breadcramps ul li {
  display: inline-block;
}
.breadcramps ul li a {
  color: #6a6a6a;
  line-height: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.breadcramps ul li.active a {
  font-weight: normal;
  cursor: default;
}
.breadcramps ul li:after {
  content: "\00BB";
  color: #6a6a6a;
  font-size: 1.5rem;
  line-height: 1rem;
  font-weight: normal;
  padding: 0 0.75rem;
}
.breadcramps ul li:last-child:after {
  content: "";
}
.catalog {
  width: 100%;
  max-width: 1170px;
  padding: 0 1.8rem;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .catalog {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .catalog {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 1.2rem;
  }
}
.catalog::after {
  content: "";
  display: table;
  clear: both;
}
.catalog__wrap {
  overflow: hidden;
}
.catalog__filters {
  display: block;
  float: left;
  width: 15rem;
  min-height: 100vh;
}
.catalog__tovars {
  width: -webkit-calc(100% - 15rem);
  width: calc(100% - 15rem);
  display: block;
  float: left;
  padding-left: 1rem;
}
.catalog__filter {
  display: block;
  margin: 0.75rem 0 2rem;
}
.catalog__filter-title {
  display: block;
  font-family: "Agora", serif;
  font-size: 1.25rem;
  color: #582c23;
  font-weight: bold;
  text-align: left;
  padding: 0.25rem;
  padding-bottom: 1rem;
}
/*@import "outlines.less";
 


@import "blocks/page-header-desktop.less";
@import "blocks/page-header-mobil.less";
@import "blocks/main-nav.less";
@import "blocks/breadcpamps.less";*/
.page-header-desktop {
  width: 100%;
  max-width: 1170px;
  padding: 0 1.8rem;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
@media (max-width: 1170px) {
  .page-header-desktop {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .page-header-desktop {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 1.2rem;
  }
}
.page-header-desktop::after {
  content: "";
  display: table;
  clear: both;
}
.header-contact {
  display: inline-block;
  float: left;
  width: 36%;
  text-align: left;
}
.main-contact__phone {
  font-family: "Agora", serif;
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 2rem;
  color: #582c23;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main-contact__phone:before {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5rem;
  content: "";
  width: 2rem;
  height: 2rem;
  background: url("../img/ico-sprite.png") 0 -60px no-repeat;
}
.main-contact__address {
  font-family: "OpenSans", sans-serif;
  font-size: 0.875rem;
}
.main-contact__address:before {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5rem;
  content: "";
  width: 2rem;
  height: 2rem;
  background: url("../img/ico-sprite.png") 0 0 no-repeat;
}
.main-contact__address p {
  color: #6a6a6a;
  display: inline-block;
  width: 80%;
}
.main-contact__link {
  text-decoration: underline;
  font-family: "OpenSans", sans-serif;
  font-size: 0.875rem;
  color: #6a6a6a;
}
.header-logo {
  display: inline-block;
  width: 25%;
}
.header-user {
  display: inline-block;
  float: right;
  width: 36%;
  text-align: right;
}
.header-user::after {
  content: "";
  display: table;
  clear: both;
}
.header-user__club {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  text-decoration: underline;
  line-height: 2rem;
  color: #582c23;
}
.header-user__club:before {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5rem;
  content: "";
  width: 2rem;
  height: 2rem;
  background: url("../img/ico-sprite.png") 0 -120px no-repeat;
}
.header-user__basket {
  float: right;
  min-width: 10rem;
  width: auto;
  margin-top: 1rem;
}
.header-user__basket .frame__content {
  min-height: 3.5rem;
}
.header-user__basket-title {
  font-family: "OpenSans", sans-serif;
  font-size: 0.9rem;
  display: block;
  width: 100%;
  padding: 0 0.3rem;
  text-align: center;
  line-height: 2rem;
  font-weight: bold;
  color: #353535;
}
.header-user__basket-title:before {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5rem;
  content: "";
  width: 2rem;
  height: 2rem;
  background: url("../img/ico-sprite.png") 0 -180px no-repeat;
}
.header-user__basket-title span {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  color: #582c23;
  font-weight: bold;
}
.header-user__basket-sum {
  font-family: "Agora", serif;
  font-size: 1.25rem;
  display: block;
  width: 100%;
  padding: 0 0.3rem;
  text-align: center;
  color: #d46000;
  font-weight: bold;
}
@media (max-width: 1170px) {
  .header-logo {
    width: 20%;
  }
  .header-user {
    width: 25%;
    margin-right: 8rem;
  }
}
@media (max-width: 780px) {
  .header-contact,
  .header-logo,
  .header-user {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 2rem;
  }
  .header-contact__phone {
    font-family: "Agora", serif;
    font-size: 1.125rem;
  }
  .header-user {
    text-align: center;
  }
  .header-user__basket {
    display: block;
    margin: 1rem auto 0;
    max-width: 12rem;
    float: none;
  }
}
.page-header-mobil {
  display: none;
}
@media (max-width: 780px) {
  .page-header-mobil {
    width: 100%;
    max-width: 1170px;
    padding: 0 1.8rem;
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 780px) and (max-width: 1170px) {
  .page-header-mobil {
    width: 100%;
  }
}
@media (max-width: 780px) and (max-width: 780px) {
  .page-header-mobil {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 1.2rem;
  }
}
.main-nav-scroll {
  display: none;
}
.main-nav {
  width: 100%;
  position: relative;
  min-height: 3.8rem;
}
.main-nav__wrapper {
  width: 100%;
  max-width: 1170px;
  padding: 0 1.8rem;
  margin: 0 auto;
  min-height: 3.8rem;
  padding: 0 2.6rem;
}
@media (max-width: 1170px) {
  .main-nav__wrapper {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .main-nav__wrapper {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 1.2rem;
  }
}
.main-nav__wrapper ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row no-wrap;
      -ms-flex-flow: row no-wrap;
          flex-flow: row no-wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.8rem;
  position: relative;
}
.main-nav__wrapper ul li {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  display: inline-block;
  height: 3.8rem;
  text-align: center;
  position: relative;
  background-color: #85254c;
  cursor: pointer;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.main-nav__wrapper ul li a {
  display: inline-block;
  width: 100%;
  height: 3.8rem;
  padding: 0px 0.5rem;
  font-family: "Agora", serif;
  font-size: 0.875rem;
  line-height: 3.8rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.main-nav__wrapper ul li:first-child:before,
.main-nav__wrapper ul li:last-child:after {
  content: "";
  position: absolute;
  top: 0;
  width: 0.68rem;
  height: 3.8rem;
  background: url("../img/main-nav-bg-frame.svg") 0 0 no-repeat;
  background-size: contain;
  -webkit-transition: background-color ease 0.5s;
  transition: background-color ease 0.5s;
}
.main-nav__wrapper ul li:first-child:before {
  left: -0.6rem;
}
.main-nav__wrapper ul li:last-child:after {
  right: -0.6rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main-nav__wrapper ul li:hover,
.main-nav__wrapper ul li.active,
.main-nav__wrapper ul li:active {
  background-color: #671738;
}
.main-nav__wrapper ul li:last-child.active:after,
.main-nav__wrapper ul li:last-child:active:after,
.main-nav__wrapper ul li:first-child.active:before,
.main-nav__wrapper ul li:first-child:active:before {
  background-image: url("../img/main-nav-bg-frame-hover.svg");
}
.main-nav__toggle {
  display: none;
}
@media (max-width: 1170px) {
  .main-nav-block {
    display: block;
    position: relative;
  }
  .main-nav__wrapper {
    background-image: none;
  }
  .main-nav__wrapper ul {
    width: auto;
    text-align: center;
    min-width: 70vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-nav__wrapper ul li {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .main-nav__wrapper ul a {
    display: block;
    width: 100%;
  }
  .main-nav--closed .main-nav {
    display: none;
  }
  .main-nav__toggle {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 5001;
    display: block;
    width: 70px;
    height: 3.5rem;
    font-size: 0;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-transition: background-color ease 0.5s;
    transition: background-color ease 0.5s;
  }
  .main-nav__toggle:hover,
  .main-nav__toggle:active,
  .main-nav__toggle.active {
    background-color: #d46000;
  }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 2.5px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 12px 0 0 #ffffff, 0 24px 0 0 #ffffff;
            box-shadow: 0 12px 0 0 #ffffff, 0 24px 0 0 #ffffff;
  }
  .main-nav--closed .main-nav__toggle:active::before {
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 12px 0 0 rgba(255, 255, 255, 0.3), 0 24px 0 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 12px 0 0 rgba(255, 255, 255, 0.3), 0 24px 0 0 rgba(255, 255, 255, 0.3);
  }
  .main-nav--opened .main-nav__toggle {
    top: -3.5rem;
    right: 0;
    left: auto;
  }
  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 20px;
    width: 35px;
    height: 2.5px;
    background-color: #ffffff;
  }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main-nav--opened .main-nav__toggle:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .main-nav--opened .main-nav__toggle:active::before,
  .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .main-nav--opened .main-nav {
    display: block;
    position: absolute;
    width: 91.75vw;
    height: 18.7rem;
    background-color: #d46000;
    opacity: 0.9;
    -webkit-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px;
    background-image: none;
    z-index: 5001;
    right: 1.25rem;
    top: 0;
  }
  .main-nav--opened .main-nav__wrapper {
    min-width: 70vw;
  }
}
@media (max-width: 780px) {
  .main-nav__toggle {
    position: fixed;
    top: 2rem;
    right: 1rem;
  }
}
.main-slider {
  width: 100%;
  max-width: 1170px;
  padding: 0 1.8rem;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .main-slider {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .main-slider {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 1.2rem;
  }
}
.slider_wrapper {
  position: relative;
  width: 100%;
  max-height: 31.25rem;
  height: 70vw;
  min-height: 14rem;
  margin: 2rem auto;
  background-color: #fff;
  background-image: url(../img/slider/slider1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-transition: background-image 1s linear, background-color 0.7s linear;
  transition: background-image 1s linear, background-color 0.7s linear;
}
.slider_wrapper:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.slider {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.slide {
  display: none;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.slider_controls {
  position: absolute;
  bottom: -3rem;
  left: 50%;
  width: 15rem;
  height: auto;
  margin-left: -7.5rem;
  z-index: 200;
  font-size: 0;
  text-align: center;
}
.slider_controls label {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.5rem;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #d46000;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
}
#btn-1:checked ~ .slider_wrapper #slide1,
#btn-2:checked ~ .slider_wrapper #slide2,
#btn-3:checked ~ .slider_wrapper #slide3 {
  display: block;
}
#btn-1:checked ~ .slider_wrapper label[for="btn-1"],
#btn-2:checked ~ .slider_wrapper label[for="btn-2"],
#btn-3:checked ~ .slider_wrapper label[for="btn-3"] {
  background-color: #d46000;
}
#btn-1:checked ~ .slider_wrapper {
  background-image: url(../img/slider/slider1.jpg);
}
#btn-2:checked ~ .slider_wrapper {
  background-image: url(../img/slider/slider2.jpg);
}
#btn-3:checked ~ .slider_wrapper {
  background-image: url(../img/slider/slider3.jpg);
  /*background-size: 100%;*/
}
.benefit {
  width: 100%;
  max-width: 1170px;
  padding: 0 1.8rem;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1170px) {
  .benefit {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .benefit {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 1.2rem;
  }
}
.benefit__item {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin: 1.5rem 0;
}
.benefit__img {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
}
.benefit__img img {
  width: 100%;
}
.benefit__title {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  font-family: "Agora", serif;
  font-size: 0.875rem;
  color: #582c23;
  font-weight: bold;
  text-align: left;
  padding-left: 1rem;
}
.benefit__title a {
  display: block;
  margin-top: 0.5rem;
  text-decoration: underline;
  font-family: "OpenSans", sans-serif;
  font-size: 0.675rem;
  color: #6a6a6a;
  font-weight: normal;
}
@media (max-width: 780px) {
  .benefit__item {
    display: block;
    width: 100%;
    padding: 1rem 0;
    margin: 0 auto;
  }
}
.block-tovars {
  width: 100%;
  max-width: 1170px;
  padding: 0 1.8rem;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .block-tovars {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .block-tovars {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 1.2rem;
  }
}
.block-tovars__title {
  line-height: 1.5;
}
.block-tovars__arrow {
  display: block;
  position: relative;
  width: 100%;
}
.block-tovars__arrow .arrow {
  top: 18rem;
  background-image: url("../img/arr-orange.svg");
}
.block-tovars__arrow .arrow.prev {
  left: -2.2rem;
}
.block-tovars__arrow .arrow.next {
  right: -1.5rem;
}
.block-tovars__wrapper {
  display: block;
  position: relative;
  width: 102%;
  height: auto;
  max-height: 37rem;
  overflow: hidden;
  margin-left: -0.5rem;
  margin-top: 2rem;
}
.block-tovars__list {
  display: block;
  list-style: none;
  width: 100rem;
  text-align: left;
}
.block-tovars__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.35rem;
}
.toggle-type-wine ul {
  list-style: none;
}
.toggle-type-wine ul li {
  display: inline-block;
}
.toggle-type-wine ul li a {
  display: inline-block;
  padding-right: 1rem;
  font-family: "OpenSans", sans-serif;
  font-size: 0.85rem;
  text-decoration: underline;
  color: #6a6a6a;
}
.toggle-type-wine ul li.active a,
.toggle-type-wine ul li:hover a,
.toggle-type-wine ul li:active a {
  color: #353535;
  font-weight: bold;
}
.main-events {
  width: 100%;
  max-width: 1170px;
  padding: 0 1.8rem;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .main-events {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .main-events {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 1.2rem;
  }
}
.main-events__title {
  padding-bottom: 2rem;
}
.main-events__event-anchored {
  display: inline-block;
  vertical-align: top;
  width: 38%;
}
.main-events__event-anchored img {
  width: 100%;
}
.main-events__events-prev {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  padding-left: 7%;
}
@media (max-width: 780px) {
  .main-events {
    padding: 0 1.2rem;
  }
  .main-events__event-anchored,
  .main-events__events-prev {
    display: block;
    width: 100%;
  }
  .main-events__event-anchored {
    margin-bottom: 2rem;
  }
}
.main-event-prev {
  display: block;
  width: 100%;
  text-align: left;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ddd9d3;
}
.main-event-prev__img {
  display: inline-block;
  vertical-align: top;
  width: 16%;
  max-width: 6rem;
  height: auto;
  max-height: 6rem;
  overflow: hidden;
  border: 1px solid #f3e9da;
}
.main-event-prev__img img {
  width: 100%;
}
.main-event-prev__content {
  display: inline-block;
  vertical-align: top;
  width: 82%;
  padding-left: 1.5rem;
}
.main-event-prev__text {
  display: block;
  width: 100%;
  height: 3.8rem;
  overflow: hidden;
  margin: 0.5rem 0;
}
.main-event-prev__date-link {
  display: block;
  width: 100%;
}
.main-event-prev__date {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  padding-left: 1.7rem;
  background: url("../img/ico-sprite.png") -6px -245px no-repeat;
}
.main-event-prev__link {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  margin: 0;
  text-align: right;
}
.main-event-prev__link:after {
  content: "\2192";
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  color: #353535;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1rem;
}
.main-event-prev:first-child {
  padding-top: 0;
}
@media (max-width: 1170px) {
  .main-event-prev:nth-child(3) {
    display: none;
  }
}
@media (max-width: 780px) {
  .main-event-prev__img {
    display: block;
    margin-bottom: 1rem;
    width: 40%;
  }
  .main-event-prev__content {
    display: block;
    width: 100%;
    padding-left: 0;
  }
  .main-event-prev__link:after {
    display: none;
  }
}
.block-corner .corner {
  width: 100%;
  background-color: #000000;
}
.block-corner__title-prev {
  position: absolute;
  bottom: 0;
  left: 5px;
  right: 5px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: "Agora", serif;
  font-size: 1.2rem;
  text-align: left;
  padding: 1rem;
  border-bottom: 5px solid #85254c;
}
.block-corner__title-prev h5 {
  color: #ffffff;
  font-family: "Agora", serif;
  font-size: 1.2rem;
  text-align: left;
  font-weight: normal;
  padding-top: 1rem;
}
.block-corner__title-prev p {
  display: none;
  font-family: "OpenSans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: justify;
  font-weight: normal;
  color: #ffffff;
  padding-top: 1rem;
  height: 55%;
  overflow: hidden;
}
.block-corner__title-prev .block-btn {
  display: none;
  text-align: left;
  width: 95%;
  height: 20%;
  position: absolute;
  z-index: 100;
  bottom: 0;
}
.block-corner__title-prev.big-shadow-hover {
  top: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: top ease 0.7s;
  transition: top ease 0.7s;
}
.block-corner:hover .big-shadow-hover {
  top: 4px;
}
.block-corner:hover .big-shadow-hover p,
.block-corner:hover .big-shadow-hover .block-btn {
  display: block;
}
@media (max-width: 1170px) {
  .block-corner h5 {
    font-family: "Agora", serif;
    font-size: 1rem;
    padding-top: 0;
  }
  .block-corner p {
    font-family: "OpenSans", sans-serif;
    font-size: 0.75rem;
    height: 43%;
  }
  .block-corner__title-prev.big-shadow-hover {
    top: 65%;
  }
}
@media (max-width: 780px) {
  .block-corner__title-prev.big-shadow-hover {
    top: 55%;
  }
}
.main-services {
  width: 100%;
  max-width: 1170px;
  padding: 0 1.8rem;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .main-services {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .main-services {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 1.2rem;
  }
}
.main-services__title {
  padding-bottom: 2rem;
}
.main-services__service-anchored:nth-child(even) {
  margin-right: 3%;
}
.main-services__service-anchored {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-bottom: 2rem;
}
.main-services__service-anchored img {
  width: 100%;
}
.main-services__service-anchored .corner {
  height: 20rem;
}
.main-services__service-anchored .corner a {
  border: none;
}
@media (max-width: 1170px) {
  .main-services__service-anchored .corner {
    height: 14rem;
  }
}
@media (max-width: 780px) {
  .main-services__service-anchored {
    display: block;
    width: 100%;
  }
}
.main-form {
  width: 100%;
  max-width: 1170px;
  padding: 0 1.8rem;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1170px) {
  .main-form {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .main-form {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 1.2rem;
  }
}
.main-form__title {
  text-align: center;
  padding-top: 2rem;
}
.main-form__subtitle {
  font-family: "OpenSans", sans-serif;
  font-size: 0.875rem;
  color: #6a6a6a;
  text-decoration: underline;
  margin-bottom: 4rem;
}
.main-form__img {
  display: inline-block;
  vertical-align: top;
  width: 10rem;
  height: 10rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  border: 2px solid #f3e9da;
}
.main-form__img img {
  width: 100%;
}
.main-form__text-btn {
  display: inline-block;
  vertical-align: top;
  width: 28rem;
  text-align: left;
  padding-left: 3rem;
  padding-bottom: 3rem;
}
.main-form__name {
  color: #582c23;
  font-family: "Agora", serif;
  font-size: 1.35rem;
  line-height: 1.5;
  font-weight: bold;
}
@media (max-width: 780px) {
  .main-form__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .main-form__text-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
}
.main-social {
  width: 100%;
  max-width: 1170px;
  padding: 0 1.8rem;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1170px) {
  .main-social {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .main-social {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 1.2rem;
  }
}
.main-social__title {
  text-align: center;
  padding-top: 2rem;
}
@media (max-width: 780px) {
  .main-social__title {
    font-size: 1.4rem;
  }
}
.social-networks-wrapper {
  width: 100%;
  max-width: 1170px;
  padding: 0 1.8rem;
  margin: 0 auto;
  text-align: left;
}
@media (max-width: 1170px) {
  .social-networks-wrapper {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .social-networks-wrapper {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 1.2rem;
  }
}
.social-networks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2rem 0 3rem;
}
.social-networks__vk,
.social-networks__fb,
.social-networks__ok {
  padding: 10px;
  display: inline-block;
  width: 320px;
  height: 475px;
  margin: 0 10px 30px;
}
@media (min-width: 1170px) {
  .social-networks {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .social-networks__vk,
  .social-networks__fb,
  .social-networks__ok {
    margin: 0;
  }
}
.page-footer-bg {
  background-color: #44212f;
  min-height: 24rem;
  margin-top: -24rem;
  padding-top: 2rem;
}
.page-footer {
  width: 100%;
  max-width: 1170px;
  padding: 0 1.8rem;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
  /*background: url("../img/footer.png") 0 0 no-repeat;
	height: 286px;*/
}
@media (max-width: 1170px) {
  .page-footer {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .page-footer {
    width: auto;
    text-align: center;
    min-width: 320px;
    padding: 0 1.2rem;
  }
}
.page-footer::after {
  content: "";
  display: table;
  clear: both;
}
.page-footer__logo {
  display: inline-block;
  vertical-align: top;
  width: 18%;
}
.page-footer__block-middle {
  display: inline-block;
  vertical-align: top;
  width: 42%;
}
.page-footer__block-right {
  display: inline-block;
  vertical-align: top;
  width: 37%;
  float: right;
  text-align: left;
}
.page-footer__block-right .main-contact__phone {
  color: #ffffff;
  font-weight: normal;
  margin-top: 0;
}
.page-footer__block-right .main-contact__phone:before {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5rem;
  content: "";
  width: 2rem;
  height: 2rem;
  background: url("../img/ico-sprite.png") 0 -90px no-repeat;
}
.page-footer__block-right .main-contact__address:before {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5rem;
  content: "";
  width: 2rem;
  height: 2rem;
  background: url("../img/ico-sprite.png") 0 -30px no-repeat;
}
.page-footer__block-right .main-contact__address p {
  color: #ffffff;
  font-weight: normal;
}
.page-footer__block-right .main-contact__link {
  color: #ffffff;
  font-weight: normal;
}
.page-footer__club {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  display: inline-block;
  margin-top: 2.5rem;
  padding-bottom: 2rem;
  font-weight: normal;
  text-decoration: underline;
  line-height: 2rem;
  color: #ffffff;
}
.page-footer__club:before {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5rem;
  content: "";
  width: 2rem;
  height: 2rem;
  background: url("../img/ico-sprite.png") 0 -150px no-repeat;
}
.footer-form {
  margin-top: 2rem;
  text-align: center;
}
.footer-form p {
  text-align: left;
  padding: 1.5rem;
}
@media (max-width: 1170px) {
  .page-footer {
    padding-top: 0rem;
  }
  .page-footer__logo {
    width: 15%;
    min-width: 6rem;
  }
  .page-footer__block-middle {
    width: 40%;
  }
  .page-footer__block-right {
    float: none;
  }
}
@media (max-width: 780px) {
  .page-footer__logo {
    width: 50%;
    min-width: 10rem;
  }
  .page-footer__block-middle {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .page-footer__block-right {
    display: none;
  }
}
.footer-nav {
  text-align: center;
}
.footer-nav ul {
  display: inline-block;
  vertical-align: top;
  margin: 0 1rem;
  list-style: none;
}
.footer-nav ul li {
  display: block;
  text-align: left;
  width: 10rem;
}
.footer-nav ul li a {
  font-family: "OpenSans", sans-serif;
  font-size: 0.875rem;
  line-height: 2.2rem;
  height: 2.2rem;
  color: #ffffff;
  text-decoration: underline;
  -webkit-transition: font-size ease 0.3s;
  transition: font-size ease 0.3s;
}
.footer-nav ul li:hover a,
.footer-nav ul li:active a,
.footer-nav ul li.active a {
  font-size: 1.1rem;
}
@media (max-width: 780px) {
  .footer-nav {
    display: none;
  }
}
.hidden {
  display: none;
}
.wrapper-x {
  overflow: hidden !important;
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.wrapper-y {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 24rem;
  min-height: 100vh;
}
