@import "variables.less";
@import "scaffolding.less";
@import "blocks/corner.less";
@import "blocks/block-tovar-prev.less";
@import "blocks/description-wine.less";
@import "blocks/check-box.less";
@import "blocks/btn.less";
@import "blocks/input.less";
@import "blocks/count.less";
@import "blocks/selector.less";
@import "blocks/page-controls.less";
@import "blocks/breadcramps.less";
@import "blocks/catalog.less";
@import "blocks/block-main.less";
@import "blocks/tovar-card.less";
@import "blocks/tovar-basket.less";
@import "blocks/block-ordering.less";
@import "blocks/text-content.less";
@import "blocks/sliders.less";
/*@import "outlines.less";
 


@import "blocks/page-header-desktop.less";
@import "blocks/page-header-mobil.less";
@import "blocks/main-nav.less";
@import "blocks/breadcpamps.less";*/
@import "blocks/page-header-desktop.less";
@import "blocks/page-header-mobil.less";
@import "blocks/main-nav.less";
@import "blocks/main-slider.less";
//@import "blocks/slider-css.less";
@import "blocks/benefit.less";
@import "blocks/block-tovars.less";
@import "blocks/block-delicacies.less";
@import "blocks/toggle-type-wine.less";
@import "blocks/main-events.less";
@import "blocks/event-anchored.less";
@import "blocks/main-event-prev.less";
@import "blocks/block-corner.less"; 
@import "blocks/main-services.less"; 
@import "blocks/main-form.less"; 
@import "blocks/main-social.less";
@import "blocks/social-networks.less";
@import "blocks/page-footer.less";
@import "blocks/footer-nav.less";
@import "blocks/stock.less";
@import "blocks/page-basket.less";
@import "blocks/element-beige.less";
@import "blocks/turn-pages.less";
@import "blocks/contacts.less";
@import "blocks/vacancy.less";
@import "blocks/flagi.less";
@import "blocks/page-card.less";
@import "blocks/card-form.less";

.hidden {
	display: none;
}
 

.wrapper-x {
	overflow: hidden !important;
	min-height: 100%;
	box-sizing: border-box;
	position: relative;
}
.wrapper-y {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 0 0 @height-footer;
	min-height: 100vh;
}

.clearfix() {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}



.container-fluid() {
	width: 100%;
	max-width: 1170px;
	padding: 0 1.8rem;
	margin: 0 auto;

	@media @tablet-widths {
		width: 100%;
	}

	@media @mobil-widths {
		width: auto;
		text-align: center;
		min-width: 320px;
		padding: 0 1.2rem;
	}

}

.agora(@size) {  
  font-family: "Agora", serif;
  font-size: @size;  
}

.linux(@size) {  
  font-family: "Linux", serif;
  font-size: @size; 
}

.roboto(@size) { 
  font-family: "Roboto", sans-serif;
  font-size: @size; 
}

.open-sans(@size) {  
  font-family: "OpenSans", sans-serif;
  font-size: @size; 
}

.sepia() { 
    filter: sepia(100%);
   }
.engrave() { 
    filter: grayscale(100%);
}

.shadow() {
	filter: drop-shadow(0px 0px 10px rgba(133, 37, 76, 0.25));
}

 .shk_count_button {
 	line-height: 26px;
	color: #ffffff;
 }

