
/*@color-black: #2d2d2d;  почти черный текст, фон footer */
@color-gray: #636363; /* жирный текст */ 
@color-lightgray: #6a6a6a; /* текст */
@color-whine: #85254c;      /* винный */
@color-darkwhine: #671738;/* темно-винный */
@color-brown: #582c23; /* */
@color-lightblue: #c2e1fe; /* на главной текст на 1 экране */
@color-beige: #f3e9da;
@color-orange: #d46000;
@color-white: #ffffff;
@color-footer-text: #afafaf;

@tablet-widths: ~"(max-width: 960px)";/*780*/
@mobil-widths: ~"(max-width: 780px)";/*960*/
@desktop-widths-big: ~"(min-width: 1030px)"; /*1030*/
@desktop-widths-only: ~"(min-width: 960px)"; /*960*/

