.block-ordering {
	display: block;
	padding: 2rem 2rem 0;

	&__input-wrapper {
		display: inline-block;
		width: 50%;
		padding: 1rem 0;
		margin-right: -4px;

		label {
			display: block;
			padding-bottom: 0.5rem;
		}
	}

	&__input-wrapper:nth-child(even) {
		padding-right: 1rem;
	}
}