.btn {
	display: inline-block;
	height: 2.5rem;
	line-height: 2.5rem;
	color: #ffffff;
	.agora(0.7rem);
	text-transform: uppercase;
	border: 2px solid #eddde3;
	border-radius: 2px;
	background-image: linear-gradient(to top, rgb(133,37,76) 20%, rgb(184,96,139) 60%);	
  	box-shadow: inset 0px 2px 1px 0px rgba(255, 255, 255, 0.3);	  	
	cursor: pointer;  	
}

.btn--brown {
	background-image: linear-gradient(to top, rgb(83,41,33) 20%, rgb(150,106,93) 60%);
}

.btn:hover, .btn:active {
	background-image: linear-gradient(to top, rgb(59,7,26) 20%, rgb(145,42,100) 60%);		
}

.btn.btn--brown:hover, .btn.btn--brown:active {
	background-image: linear-gradient(to top, rgb(58,25,19) 20%, rgb(143,99,86) 60%);
}
.btn--footer-form,
.btn--mainform,
.btn--main-event,
.btn--main-service,
.btn--buy,
.btn--ordering {
	padding: 0 2rem;
	.agora(0.875rem);
	line-height: 2.8rem;
	height: 2.8rem;
}

.btn--buy {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	padding: 0;
}

.btn--ordering {
	margin: 2rem 2rem 1rem;;
}

.btn--footer-form {
	display: inline-block;
	vertical-align: middle;
	padding: 0 1rem;
	line-height: 3.1rem;
	height: 3.1rem;
	margin-bottom: 1rem;
}

.btn--mainform {
	margin-top: 3rem;
	margin-right: 1rem;
}


.btn--in-basket {
	width: 6.6rem;
	margin-left: 0.5rem;
	padding-left: 1.7rem;
	background: url("../img/ico-sprite.png") -5px -205px no-repeat, linear-gradient(to top, rgb(133,37,76) 20%, rgb(184,96,139) 60%);
}

.btn--in-basket:hover, .btn--in-basket:active {
	background-image: url("../img/ico-sprite.png"), linear-gradient(to top, rgb(59,7,26) 20%, rgb(145,42,100) 60%);
		
}

@media @mobil-widths {
	.btn--mainform {
		margin-top: 1rem;
		margin-right: 0;
	}
}



