.catalog {
	.container-fluid();
	.clearfix();
	&__wrap {
		overflow: hidden;
	}


	&__filters {
		display: block;		
		float: left;
		width: 15rem;
		min-height: 100vh;
		
	}

	&__tovars {		
		width: ~"calc(100% - 15rem)";
		display: block;	
		float: left;
		padding-left: 1rem;	
	}

	&__filter {
		display: block;		
		margin: 0.75rem 0 2rem;
	}

	&__filter-title {
		display: block;
		.agora(1.25rem);
		color: @color-brown;
		font-weight: bold;
		text-align: left;
		padding: 0.25rem;
		padding-bottom: 1rem;
	}


}