.catalog {
	.container-fluid();
	.clearfix();
	&__wrap {
		overflow: hidden;
	}


	&__filters {
		display: block;		
		float: left;
		width: 15rem;
		min-height: 100vh;
		
	}

	&__tovars {		
		width: ~"calc(100% - 15rem)";
		display: block;	
		float: left;
		padding-left: 1rem;	
	}


}