.user-input {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #cdcdcd;
	color: #9a9a9a;
	.open-sans(0.875rem);
	line-height: 2.8rem;
	height: 2.8rem;
	outline: none;
	padding: 0 1rem;
	
}

.user-input--beige {
	border-radius: 3px;
	border: 1px solid @color-beige;
}

.user-input--ordering {
	width: 100%;
}

.user-input--area {
	height: auto;
	margin-top: 1rem;
	width: 100%;
}

.user-input--selector {
	width: 5.5rem;
	padding: 0 0.3rem;
	border: 2px solid @color-beige;

}

.user-input--footer-form {
	width: 45%;
	margin: 0 0.5rem 1rem;
}