.social-networks-wrapper {
	.container-fluid();
	text-align: left;
}

.social-networks {	
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 2rem 0 3rem;

	&__vk,
	&__fb,
	&__ok {		
		padding: 10px;
		display: inline-block;		
		width: 245px;
		height: 475px;
		margin: 0 30px 30px;
	}
}

@media @mobil-widths {
	.social-networks {
		/*justify-content: space-around;
		flex-flow: column nowrap;*/
		display: block;
		text-align: center;
		&__vk,
		&__fb,
		&__ok {
			width: 100%;
			display: inline-block;
			margin: 0;
			padding: 0;
			padding-bottom: 10px;
		}
	} 
}